body {
    font-family: 'Play', sans-serif;
    background: url("media/leaderboard_bg.jpg") no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
}

.title {
    color: #ff7700;
    margin-bottom: 20px;
}

.table {
    margin-top: 20px;
    background: #ffeeaa;
}

.btn {
    margin-top: 15px;
}
